body
{
      background-color:#EAF6F6;


}

 hr 
 {
    width: 10%;
    border-style: dotted none  none;
    border-width: 6px;
    border-color: black;
 }

h1,h3
{
      color: #66bfbf;
}